.card {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;

    @media screen and (min-width: 756px) {
        flex-basis: 31%;
        flex-grow: 0;
    }

    &__content {
        flex: 1;
        background: black;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    &__img-wrapper {
        position: relative;
        width: 100%;
        height: 200px;
    }
    &__img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        flex: 1;
        font-size: 60px;
        line-height: 1;
        color: white;
    }
    &__copy {
        font-size: 18px;
        line-height: 1;
        color: white;
    }
    &__tag {
        display: inline-block;
        padding: 0.1rem 0.6rem;
        background: yellow;
        color: black;
        font-size: 1rem;
        border-radius: 3px;
        text-transform: capitalize;

        &:first-child {
            margin-right: 1rem;
        }
    }
}
